.navbar {
    background-color: white;
    padding: 15px 0;
}

.nav-logo {
    width: 220px;
}

.nav {
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: #061a3a;
    margin-right: 30px;
    font-weight: 600;
}

.signing-btn {
    border: 0;
    background-color: #ff7c5b;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.signing-btn:hover {
    background-color: #061a3a;
    color: white;
}

.nav-links a:hover {
    color: #ff7c5b;
}