.footer-container {
    background-color: #030d1d;
    padding: 60px 0;
}

.footer-logo {
    width: 260px;
    margin-bottom: 30px;
}

.footer-info {
    color: white;
}

.footer-button button {
    background-color: #ff7c5b;
    border: 0;
    padding: 10px;
    color: aliceblue;
    border-radius: 100px;
    font-size: 20px;
}