.section-title {
    text-align: center;
    color: #ff7c5b;
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 10px;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

@media only screen and (max-width: 567px) {
    .section-title {
        font-size: 30px;
        padding-bottom: 0;
    }

    .services-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
}