.carousel img {
    opacity: 5;
    filter: brightness(60%);
}

.carousel h3 {
    font-size: 36px;
    font-weight: 600;
}

@media only screen and (min-width: 0px) and (max-width: 567px) {
    .carousel p {
        display: none;
    }

    .carousel h3 {
        font-size: 24px;
    }

}