.about-me {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    align-items: center;
}

.about-title {
    font-size: 36px;
    font-weight: 600;
    color: #ff7c5b;
    padding-bottom: 20px;
    text-align: center;
}

.about-name {
    font-size: 36px;
    font-weight: 700;
    color: #ff7c5b;
}

.about-me h4 {
    color: #061a3a;
}

@media only screen and (min-width: 0px) and (max-width: 567px) {
    .about-me {
        grid-template-columns: 1fr;
    }

    .about-me img {
        width: 100%;
    }
}